@using EfDbOnlineCourses.Models
@model Course


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<h3 class="text-center">Изменение курса</h3>
<form method="post" enctype="multipart/form-data">
    <div class="row text-center">
        <div class="col">
            <label>
                Название
            </label>
            <div>
                <input type="text" name="Title" required value="@Model.Title">
            </div>
            <label>
                Описание
            </label>
            <div>
                <input type="text" name="Description" required value="@Model.Description">
            </div>

            <label>
                Дата начала курса
            </label>
            <div>
                <input type="date" name="StartDate" required id="StartDate" value="@Model.StartDate.Value.ToString("yyyy-MM-dd")"  />
            </div>

            <label>
                Дата окончания курса
            </label>
            <div>
                <input type="date" name="EndDate" required id="EndDate" value="@Model.EndDate.Value.ToString("yyyy-MM-dd")" />
            </div>


            <label>Изображение курса</label>
            <div class="d-flex justify-content-center my-4">
                <input type="file"
                       name="ImageFile"
                       class="form-control file-input-tall w-auto"
                       accept="image/*"/>
            </div>
            <br />

            <button class="btn btn-modern" type="submit" asp-controller="Courses" asp-action="ConfirmEditCourse" asp-route-courseId="@Model.Id">Подтвердить</button>
        </div>
    </div>
</form>

<script>
    const startDateInput = document.getElementById('StartDate');
    const endDateInput = document.getElementById('EndDate');

    const today = new Date().toISOString().split('T')[0];
    startDateInput.setAttribute('min', today);

    startDateInput.addEventListener('change', function() {
        if (startDateInput.value) {
            endDateInput.setAttribute('min', startDateInput.value);
        } else {
            endDateInput.removeAttribute('min');
        }
    });

    if (startDateInput.value && endDateInput.value < startDateInput.value) {
        endDateInput.value = startDateInput.value;
    }
</script>